<!DOCTYPE html>
<html lang="en">
<head th:replace="_fragments::head(~{::title})">
    <meta charset="UTF-8">
    <title>404</title>
</head>
<body>
<div th:replace="_fragments::menu(-1)"></div>

<div class="m-container-small m-padded-tb-massive">
    <div class="ui error message m-padded-tb-huge">
        <div class="ui container">
            <h1>404</h1>
            <h3>对不起，你访问的资源不存在</h3>
        </div>
    </div>
</div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<footer th:replace="_fragments::footer"></footer>
</body>


<th:block th:replace="_fragments::script"></th:block>
</html>